<!DOCTYPE html>

<%- include('./partials/header.ejs') %>

<body class="blue lighten-5">

    <%- include('./partials/navbar.ejs') %>

    <%- include('./newsfeed.ejs') %>

    <%- include('./partials/footer.ejs') %>

</body>

</html>