::-webkit-scrollbar {
    width: 0;
}

#newsFeed {
    width: 100vw;
    min-height: auto;
}

.newsFeedContainer {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 767px) {
    .newsFeedContainer {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 767px) {
    .newsFeedContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .newsFeedContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}